body {
  margin: 0;
  padding: 0;
}

/* App.css */
.navbar {
  align-items: center;
  padding: 1rem 1.5rem;
  padding-bottom: 1rem;
  background-color: #00865f !important;
}

#newCustomerBtn {
  background-color: white;
  color: #00865f;
  border: solid #00865f;
  font-family: Roboto;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  border-radius: .25rem;
}

.form-inline div {
  position: relative;
  margin-left: 18rem;
}

.form-inline .form-control {
  padding-left: 30px;
  width: 20rem;
  background-color: #066349;
  border: #00865f !important;
}

.form-inline .bi {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input:placeholder-shown + .placeholder {
  color: white !important;
}

::-webkit-input-placeholder {
  color: white !important;
  opacity: .8 !important;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
}

.search-bar {
  position: relative;
  color: white !important;
  border: #00865f !important;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}


#newUserIcon {
  margin-right: 1px;
}

#contactIcon {
  margin-right: .75em;
  margin-left: .75em;
}

#megaphoneIcon {
  color: #22d3ee;
  margin-right: .75rem;
}

#descIcon {
  color: #06b6d4;
  margin-left: .75rem;
}

#toggleBtn {
  background: transparent;
  border: none;
}

#ticketIcon {
  color: #22d3ee;
  margin-right: 15px;
}

#phoneIcon {
  color: #6d817b;
}

.table-container {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  padding: 1.5rem 1rem;
  padding-bottom: 1rem;
}

.table {
  table-layout: fixed;
  width: 100%;
  border: hidden;
}

tr {
  display: flex;
  align-items: center;
  color: #282f2f;
}

th {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  font-size: .75rem;
  font-weight: 450;
  font-family: Roboto;
  line-height: 1rem;
  letter-spacing: .0375rem;
  background-color: #ecfeff !important;
  color: #0e7490 !important;
  border: hidden;
}

.table tbody tr td {
  padding-top: 1rem;
}

td {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: .75em;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border-bottom: none;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.table thead tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}

.table thead tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}

.pageBtns {
  padding-left: 3rem;
}

#prevBtn {
  background-color: #00865f;
  border-color: #00865f;
  color: white;
  border-radius: .375rem;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

#nextBtn {
  background-color: #00865f;
  border-color: #00865f;
  color: white;
  border-radius: .375rem;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.modal-dialog {
  max-width: 90%;
}

.modal-header {
  color: white;
  background-color: #00865f;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
}

.form-label {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #525e5b;
}

.modalHeaders {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: .5rem;
  color: #282f2f;
  border-radius: 5rem;
}

#stateZip {
  display: flex;
  align-self: flex-start;
}

#formState {
  display: flex;
  width: 6.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  flex-shrink: 0;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

#formZip {
  display: flex;
  max-width: 20.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
  flex: 1 0 0;
}

#formSpacing {
  margin-bottom: 1rem;
}

#newEquiptmentBtn {
  color: #00865f;
  border: 1px solid #00865f;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  display: flex;
  padding: .5625rem .75rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: .375rem;
  height: 2rem;
  margin-bottom: 1.5em;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .05);
}

#modalNotes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  align-self: stretch;
}

#modalNotesArea {
  height: 11.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  align-self: stretch;
  margin-bottom: .5em;
  padding: 0;
  margin: 0;
  line-height: 1;
  overflow: auto;
}

#createBtn {
  color: white;
  background-color: #00865f;
  border: solid #00865f;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .05);
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

#cancelBtn {
  background-color: white;
  color: #525e5b;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border: none;
}

.required::after {
  content: "*";
  color: red;
}

.modal-content {
  border-radius: 1.55rem;
}

.custom-close-button {
  color: white !important;
}

#customerDetailsBtn {
  background-color: white;
  color: #00865f;
  border: solid #00865f;
  font-family: Roboto;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  border-radius: .25rem;
  margin-left: 35rem;
}

#exitBtn {
  background-color: transparent;
  color: #ffffff;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border: none;
}

#farmNameModal {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #ffffffcc;
}

.contactMap {
  display: flex;
}

.map-image {
  border-radius: .25rem;
  width: 12.5rem;
  height: 12.5rem;
  margin-top: .5rem;
  margin-right: 1.5rem;
}

.notesModal {
  display: flex;
}

#textAreaModal {
  height: 10rem;
}

.cardHeader {
  color: #6d817b;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  border: none;
}

.contactText {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282f2f;
  border: none;
}

.noBorder {
  border: none;
}

#editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  border-radius: .25rem;
  border: 1px solid #00865f;
  color: #00865f;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#editNotesBtnIcon {
  margin-right: .25rem;
  display: inline-block;
}

.equipmentCard {
  border: none;
  margin-bottom: 1.5rem;
}

.sprayer-badge {
  background-color: #dbeafe;
  color: #1e40af !important;
  font-family: Roboto;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.seeder-badge {
  background-color: #fce7f3;
  color: #9d174d !important;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.combine-badge {
  background-color: #fef3c7;
  color: #92400e !important;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.planter-badge {
  background-color: #c8ffe1;
  color: #006b4d !important;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.report-badge {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: #dbeafe;
  color: #1e40af !important;
}

.information-badge {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: rgb(253, 214, 214);
  color: rgb(186, 9, 9) !important;
}

.new-badge {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: #fef3c7;
  color: #92400e !important;
}

.rec-badge {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: lightgray;
  color: rgb(60, 59, 59) !important;
}

.equipmentTitle {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: #00865f;
}

.equipmentCompany {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #6d817b;
}

.rowsSpacing {
  display: flex;
  justify-content: flex-end;
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #6d817b;
}

.ticketsCard {
  border: none;
}

.updatedAt {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282f2f;
}

#ticketInfo {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  color: #6d817b;
}

#ticketOutlineIcon {
  margin-right: .38em;
}

#ticketIconCount {
  align-items: center;
}

#authorIcon {
  margin-right: .38em;
}

#questionIcon {
  margin-right: .5em;
}

/* for the posts specifically */
.details-value {
  flex-grow: 2;
  text-align: center;
}

.details-item {
  flex-grow: 3;
  text-align: center;
  margin-right: 20rem;
}

.details-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  /* padding-left: 1rem; */
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: #6d817b;
  border-bottom: 1px solid #00000026;
}

.details-value {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282f2f;
}

.details-item div:first-child {
  width: 30%;
  text-align: left;
}

.details-item div:last-child {
  width: 70%;
  text-align: center;
}

.detailTitle {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: .5rem;
  color: #282f2f;
  border-bottom: 1px solid #00000026;
}

#description {
  padding-bottom: 1rem;
}

#history {
  padding-top: 1rem;
}

#doneBtn {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #ffffff;
  border: #00865f;
  background-color: #00865f;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .05);
}

#ticketSystemBtn {
  font-family: Roboto;
  font-size: .75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  color: #ffffff;
  background-color: #0000000d;
  border: none;
}

.mainBody {
  padding-left: 1.5rem;
}

.search-bar {
  position: relative;
  width: 200px;
}

.search-button {
  position: fixed;
  background: none;
  border: none;
}

/* .search-button:hover {
  visibility: hidden;
} */


.search-icon {
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
}

.text-bg-open {
  background-color: green;
}

.text-bg-closed {
  background-color: red;
}

.text-bg-pending {
  background-color: yellow;
}

.historyTitle {
  font-family: Roboto;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.rowInt {
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; 
  color: #282F2F;
  margin-right: .25rem;
}

.spaceInt {
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  color: #282F2F; 
  margin-right: .25rem;
  margin-left: 1rem;
}
